{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="jumbotron">
<div class="row">
 <img src="https://i.pinimg.com/236x/6f/75/39/6f7539617037200c7462987736960e52.jpg" class="rounded float-left" alt="...">
  <div class="row">
  <h1 class="display-4">S Re-taškou zmeníte svet!</h1>
  <p class="lead">Jednorázové plastové výrobky patří mezi největší znečišťovatele životního prostředí na světě. Výrazný podíl na tom mají nákupní tašky a sáčky, které je přitom snadné vyrábět také z recyklovatelných materiálů. Přestože se již v řadě obchodů začaly objevovat papírové tašky, stále zůstává drtivá většina z nákupních tašek a sáčků dostupných v místech prodeje plastová. </p>
  <hr class="my-4">
  <p>Zistite viac o projekte a zmeňte svet k lepšiemu</p>
  <a class="btn btn-primary btn-lg" href="//templates/vypis_produktu" role="button">Produkty</a>

</div>
    
  <div class="container">
        <div class="row">
          <div class="col-md-4">
           <div class="card" style="width: 16rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
             <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-4">
           <div class="card" style="width: 16rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
             <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
          </div><div class="row">
          <div class="col-md-4">
           <div class="card" style="width: 16rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
             <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
          </div>
        </ul>
      </div>

{% endblock %}
